<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178245391290-3rlqguthbfqdnlcd0m5aammm1p5cf2ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178245391290-3rlqguthbfqdnlcd0m5aammm1p5cf2ka</string>
	<key>API_KEY</key>
	<string>AIzaSyADzQcXUdCLXU8L7YfAsFvFX75T5BiYVpY</string>
	<key>GCM_SENDER_ID</key>
	<string>178245391290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelio.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bwa-hotelio-f1e47</string>
	<key>STORAGE_BUCKET</key>
	<string>bwa-hotelio-f1e47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178245391290:ios:523a5cdcb80b5792700383</string>
</dict>
</plist>